:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-background: #1f1a3f;
  --secondary-background: #2c2268;
  --text-color: #f0f0f0;
  --accent-1: #6a5acc;
  --accent-2: #4e3ca9;
  --accent-3: #7a80f3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background);
  color: var(--text-color);
}
.todos {
  background-color: var(--secondary-background);
  border-radius: 25px;
  margin: auto auto;
  padding: 2rem;
  width: 80%;
  height: 80%;
  &__date {
    font-size: 3rem;
    line-height: 1.1;
    color: var(--text-color);
  }

  &__total {
    font-size: 2rem;
    line-height: 1.1;
    color: var(--text-color);
  }

  &__newTodoBox {
    position: relative;
    display: flex;
    margin: 1rem;
    align-items: center;
    color: #242424;
  }
  &__textlist {
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  &__delete {
    height: 1.75rem;
    position: absolute;
    right: 0;
    &:hover {
      box-shadow: 3px 3px 5px #360458d1;
      border-radius: 50%;
      cursor: pointer;
    }
    &:focus,
    &:active,
    &:focus-visible {
      background-color: whitesmoke;
    }
  }
  &__checkbox {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  &__userInput {
    position: relative;
    display: flex;
    align-items: center;
    &__task {
      width: 20rem;
      height: 2rem;
      border-radius: 10px;
      font-size: 1.25rem;
      position: absolute;
      padding-left: 5rem;
      &:placeholder-shown {
        padding-left: 5rem;
      }
      &:focus,
      &:active {
        padding-left: 5rem;
      }
    }
    &__priority {
      position: absolute;
      height: 2rem;
      border-radius: 10px;
      font-size: 0.8rem;
      color: #242424;
      left: 0;
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      padding-left: 0.5rem;
      cursor: pointer;
      &:focus,
      &:active {
        outline: none;
        border-color: #646cff;
        box-shadow: 0 0 5px #646cff;
      }
    }

    &__btn {
      position: absolute;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      right: 0;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: var(--accent-1);
      color: var(--text-color);
      cursor: pointer;
      transition: border-color 0.25s;

      &:hover {
        border-color: #646cff;
      }
      &:focus,
      &:focus-visible {
        background-color: #7a80f3;
      }
    }
  }
}

input[type="checkbox"]:checked + label {
  position: relative;
}

input[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  border-bottom: 2px #242424 solid;
  width: 110%;
  top: 55%;
  left: -3px;
  animation: crossOff ease-out 0.4s;
}
@keyframes crossOff {
  from {
    width: 0%;
  }
  to {
    width: 110%;
    border-bottom: 2px #242424 solid;
  }
}
.menu-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: static;

  &-shadow {
    background-color: var(--primary-background);
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 50%;
    display: flex;
    top: 0;
    left: 45%;

    align-items: center;
    justify-content: center;
  }
}
